@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary: rgb(123,50,255);
  --primary: #11ff99;
  --fg:#1f1f1f;
  --bg: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary: rgb(123,50,255);
  --secondary: #11ff99;
  --bg:#1f1f1f;
  --fg: #f1f1f1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
